<h4> Login: </h4>
<div class="card">
    <div class="card-body">
        <form action="" method="POST">
            <label for="email">Email: </label>
                <input type="email" class="form-control" name="email" required>
            <label for="password">Password: </label>
                <input type="password" class="form-control" name="password" required>
            <button class="btn btn-success" type="submit">Sign In</button>
        </form>
    </div>
</div>