<h2> Post List: </h2>

{{#each posts}}

    <small> {{ createdAt }} </small>
    <h3> {{ title }} </h3>
    <p> {{ content }} </p>
    <a href = '/delete/{{ id }}'><button> Deletar </button></a>
    <hr>

{{/each}}